extends layout

block content
  main.flex-1.flex.flex-col(class="md:p-0 lg:pt-8 lg:px-8 md:ml-24")
  section.bg-cream-lighter.p-6.flex-1
  form.w-full.max-w-4xl.pr-6.pl-8(action='/', method='POST')
    .flex.items-center.border-b.border-b-2.border-teal.py-2
      input#address.bg-transparent.w-full.mr-3.py-1.px-2(type='text', name='address')
      button.flex-no-shrink.bg-teal.border-teal.text-sm.border-4.text-white.py-1.px-2.rounded(class='hover:bg-teal-dark hover:border-teal-dark', type='submit')
        | Search Location
  .max-w-sm.p-6.flex-1
    label#address.font-bold.text-xl=address
    .px-6.py-4
      .font-bold.text-lg Latitude
      textarea#lat.bg-transparent.w-full.mr-3.py-1.px-2(type='text', name='lat')=lat
      .font-bold.text-lg Longitude
      textarea#lng.bg-transparent.w-full.mr-3.py-1.px-2(type='text', name='lng')=lng