doctype html
html
  head
    title= title
    link(href="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiqOTgTni_N3mFb2kqjvXTyfxQECFq7GA&libraries=places")
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/preflight.min.css" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/utilities.min.css" rel="stylesheet")

  body
    block content
